@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Montserrat", serif;
    background: #F8F4F4;
  }

  .head1{
    color: #0B1320;
    font-size: 18px;
    font-weight: 700;
  }

  